body {
    max-width: 1500px;
    margin: auto;
    font-family: sans-serif;
    background-color: #F5F7F8;
    overflow-y: scroll;
}

.card {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.card h1 {
    margin: 0;
    padding: 1em 0 1em 0;
}

nav {
    display: flex;
    flex-grow: ;
    background-color: aqua;
    position: sticky;
    top: 0;
    margin-bottom: 0.5em;
}

a {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration-line: none;
    color: black;
}

nav a {
    padding: 0 2em 0 2em;
}

nav a:hover {
    background-color: rgb(22, 206, 206);
}

nav #navAccount {
    display: flex;
}

nav img.logo {
    width: 3em;
    padding-left: 5px;
}

nav input:focus {
    outline: none;
}

nav input {
    display: block;
    flex-grow: 1;
    min-width: 10em;
    margin: 0.5em;
    align-self: center;
}

.ml-auto {
    margin-left: auto;
}

.pl-1em {
    padding-left: 1em;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

.center-text {
    text-align: center;
}

.align-viewport-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.center-box {
    width: 70%;
    margin: auto;
}

form.center {
    width: max-content;
    display: flex;
    flex-direction: column;
    margin: auto;
}

input {
    padding: 0.3em;
    border-radius: 5px;
}

input[name='title'] {
    max-width: 40em;
    width: 95%;
}

label.ask {
    display: block;
}

.question, .answer {
    margin-bottom: 1em;
    padding: 0.5em;
}

.question .info, .answer .info {
    color: grey;
}

.question .info strong, .answer .info strong{
    color: black;
}


.question p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-word;
    white-space: normal;
}

.question input:checked + p {
    display: block;
}

.question input:checked ~ div {
    display: none;
}

.question h4 {
    font-size: larger;
    margin-top: 0.5em;
}

.questions {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.answers {
    padding-left: 2em;
}

.space {
    font-weight: bold;
    border: 2px solid aqua;
    border-radius: 5px;
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
}

[role="button"], .button, button {
    display: inline-flex;
    justify-content: center;
    color: black;
    text-decoration-line: none;
    cursor: pointer;
    background-color: lightblue;
    border: 0;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
    align-items: center;
}

.submit {
    margin-top: 2em;
}

.upvoted {
    color: red;
}

.upvote::before {
    content: '▲';
}

.error {
    color: red;
    padding: 0.5em;
}

.hidden {
    display: none;
}

textarea {
    resize: none;
    padding: 0.5em;
    border-radius: 3px;
    max-width: 40em;
    width: 95%;
}

fieldset {
    border: none;
    padding: 0.5em;
}

legend {
    margin-top: 0.5em;
}

.input-group {
    display: flex;
    margin-top: 0.5em;
}

.input-group label {
    padding-right: 1em;
    margin-left: auto;
}

.container {
    display: flex;
}

.inlineRight {
    margin-left: auto;
}

.nowrap {
    white-space: nowrap;
}

nav #mobilesearch {
    display: none;
}

nav #links {
    display: flex;
    flex-grow: 1;
}

nav #navrow {
    display: flex;
}

nav label {
    display: none;
}

@media only screen and (max-width:800px) {
    nav a {
        padding: 0 1em 0 1em;
    }
}

@media only screen and (max-width:580px) {
    nav img.logo {
        width: 2em;
        padding-left: 5px;
    }
    nav #links {
        flex-direction: column;
        flex-grow: 1;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s ease-out;
    }
    nav #links input {
        display: none;
    }
    nav #mobilesearch {
        display: block;
    }
    nav #links a {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    nav {
        flex-direction: column;
    }
    nav label {
        font-size: x-large;
        display: flex;
        padding: 0 1em 0 1em;
        align-items: center;
        cursor: pointer;
    }
    nav #expand:checked ~ #links {
        max-height: 500px;
        transition: max-height 0.25s ease-in;
    }

    h4.space {
        display: block;
        margin: 0;
    }
    .answers {
        padding-left: 5px;
    }
}

@media only screen and (max-width:460px) {
    nav input {
        display: none;
    }
    nav button {
        display: inline-block;
        margin: auto;
    }
}