aside {
    width: 15%;
    position: sticky;
    float: left;
    left: 0;
    top: 2.5em;
    color: #29627e;
    display: flex;
    flex-direction: column;
    margin-right: -0.5em;
    margin-top: -1em;
}

aside input {
    visibility: hidden;
}

aside div {
    padding: 1em 0.5em 1em 0.5em;
    cursor: pointer;
}

aside div:hover {
    background-color: rgba(128, 128, 128, 0.479);
}

main.questions {
    margin-left: 15%;
}

@media only screen and (max-width:580px) {
    nav img.logo {
        width: 3em;
        padding-left: 5px;
    }
    aside input {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
    }
    aside input:checked ~ div  {
        transform: translate(-5em);
    }
    aside div {
        transform: translate(-5em);
    }
    aside {
        width: fit-content;
        transform: translate(-5em);
    }
    main.questions {
        margin-left: 0.5em;
    }
}
