aside {
    width: 15%;
    position: sticky;
    float: left;
    left: 0;
    top: 4rem;
    color: #29627e;
    display: flex;
    flex-direction: column;
    margin-right: -0.5rem;
}

aside input {
    visibility: hidden;
}

aside div {
    padding: 1em 0.5em 1em 0.5em;
    cursor: pointer;
}

aside div:hover {
    background-color: rgba(128, 128, 128, 0.479);
}

main.questions {
    margin-left: 15%;
    transition: margin-left 0.1s ease;
}

#showSpaceBtn {
    display: none;
}

@media only screen and (max-width:800px) {
    nav a {
        padding: 0 1em 0 1em;
        font-size: medium;
    }
    aside {
        top: 3.5rem;
    }
}

@media only screen and (max-width:580px) {
    aside {
        margin-top: -0.5rem;
        max-width: 0;
        width: 25%;
        opacity: 0;
        overflow: hidden;
        transition: max-width 0.1s ease-out, opacity 0.1s ease-in;;
    }
    aside div {
        padding: 0.5em;
    }
    #showSpaceBtn {
        display: inline-block;
        margin-top: 0;
    }
    #showSpace:checked ~ aside  {
        max-width: 25%;
        opacity: 1;
        transition: max-width 0.1s ease, opacity 0.25s ease-in;
    }
    #showSpace:checked ~ main  {
        margin-left: 25%;
        transition: margin-left 0.1s ease;
    }
    main.questions {
        margin-left: 0.5em;
    }
}
