aside {
    width: 15%;
    position: sticky;
    float: left;
    left: 0;
    top: 2.5em;
    color: #29627e;
}

aside div {
    margin: 1em;
}

main {
    margin-left: 15%;
}

.question {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.space {
    display: inline-block;

}

.upvoted {
    color: red;
}

#ask {
    display: block;
    margin-left: auto;
}
